---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=Rafieva%2040,%20Minsk&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"40\",\n               \"short_name\"
        : \"40\",\n               \"types\" : [ \"street_number\" ]\n            },\n
        \           {\n               \"long_name\" : \"Vulica Rafieva\",\n               \"short_name\"
        : \"Vulica Rafieva\",\n               \"types\" : [ \"route\" ]\n            },\n
        \           {\n               \"long_name\" : \"Maskowski Rayon\",\n               \"short_name\"
        : \"Maskowski Rayon\",\n               \"types\" : [ \"sublocality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Minsk\",\n
        \              \"short_name\" : \"Minsk\",\n               \"types\" : [ \"locality\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Minski Rayon\",\n               \"short_name\" : \"Minski Rayon\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"Minsk Province\",\n               \"short_name\"
        : \"Minsk Province\",\n               \"types\" : [ \"administrative_area_level_1\",
        \"political\" ]\n            },\n            {\n               \"long_name\"
        : \"Belarus\",\n               \"short_name\" : \"BY\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Vulica Rafieva 40, Minsk, Belarus\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 53.86623440,\n
        \                 \"lng\" : 27.45213980\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 53.86556140,\n                  \"lng\" :
        27.45170910\n               }\n            },\n            \"location\" :
        {\n               \"lat\" : 53.86597590,\n               \"lng\" : 27.45188550\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 53.86724688029150,\n
        \                 \"lng\" : 27.45327343029150\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 53.86454891970850,\n                  \"lng\"
        : 27.45057546970850\n               }\n            }\n         },\n         \"partial_match\"
        : true,\n         \"types\" : []\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Tue, 15 Jan 2013 10:29:01 GMT
recorded_with: VCR 2.4.0
