<h1>Our buildings</h1>
<h2>Built homes:</h2>

<% @completed_houses.each do |house| %>
  <%= link_to house.title, house %><br>
<% end %>

<br />
<h2>House under construction:</h2>

<% @uncompleted_houses.each do |house| %>
  <%= link_to house.title, house %><br>
<% end %>
<br/>

<%= link_to 'New House', new_house_path %>
