<div class="hero-unit">
  <h3>Разенбургское Закрытое Акционерное Общество <em>"Парампампам"</em></h3>

  <p>
    Важнейшими направлениями деятельности компании являются инвестиции в недвижимость, девелопмент. Стратегия компании нацелена на развитие территорий с последующим строительством многоэтажных жилых домов, нежилых объектов многофункционального назначения. Компания ориентирована на реализацию проектов на <strong>Луне</strong> и <strong>Марсе</strong>.
  </p>

  Сегодня приоритеты компании определены в следующих сферах:
  <ul>
    <li>строительство жилых домов</li>
    <li>строительство и эксплуатация объектов коммерческой недвижимости</li>
    <li>продажа квартир и нежилых помещений в строящихся домах</li>
    <li>продажа объектов коммерческой недвижимости</li>
    <li>сдача в аренду объектов коммерческой недвижимости</li>
    <li>развитие инфраструктуры территорий застройки.</li>
  </ul>
</div>