<table class="table table-bordered">
  <tr>
    <th>Full name</th>
    <th>Position</th>
    <th>Phone numbers</th>
  </tr>
  <% @heads.each do |head| %>
    <tr>
      <td><%= head.full_name %></td>
      <td><%= head.position %></td>
      <td><% head.phone_numbers.each do |phone_number| %>
        <%= phone_number.number %><br>
      <% end %></td>
    </tr>
  <% end %>
</table>