<div class="hero-unit">
  <h3>Юридический отдел</h3>
  <p>
    <strong>I. Общие положения</strong>
    <ul>
      <li>1. Юридический отдел является самостоятельным структурным подразделением предприятия.</li>
      <li>2. Отдел создается и ликвидируется приказом Генерального директора предприятия.</li>
      <li>3. Отдел подчиняется непосредственно Заместителю генерального директора по правовым вопросам.</li>
      <li>4. Отдел возглавляет начальник, назначаемый на должность приказом директора предприятия.</li>
      <li>5. Начальники структурных подразделений (групп) в составе юридического отдела, другие работники отдела назначаются на должности и освобождаются от должностей приказом Генерального директора предприятия по представлению Начальника юридического отдела.</li>
      <li>6. В своей деятельности отдел руководствуется:</li>
        <ul>
          <li>6.1. Уставом предприятия.</li>
          <li>6.2. Настоящим Положением.</li>
      </ul>
    </ul>
  </p>
</div>