<link rel="stylesheet" href="/assets/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/nivo-slider/nivo-slider.css" type="text/css" media="screen" />

<div id="wrapper">
  <div class="slider-wrapper theme-default">
    <div id="slider" class="nivoSlider">
      <% @gallery.each do |photo| %>
        <img src=<%= photo.image.url %> data-thumb=<%= photo.image.url %> alt="" />
      <% end %>
    </div>
  </div>
</div>