<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><img src="http://cs307810.userapi.com/v307810928/4cb5/4Z6YI8okf34.jpg"></div>
    <% @gallery.each do |gallery| %>
      <div class="item"><%= image_tag gallery.image.url(:normal) %></div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
