@import 'twitter-bootstrap/bootstrap';
@import 'jparallax/jquery.parallax';
@import 'jparallax/base';
@import 'jparallax/docs.classes';
@import 'lightbox/jquery.lightbox-0.5';
@import 'gmaps4rails';
@import 'tinymce_assets';

body {
  background: url('/assets/for_zone/lower3.png');
  margin-bottom: 40px;
  padding: 0;
}

div.container {
  background-color: #fff;
}

.navbar {
  background: url('/assets/for_zone/lower2.png');
}

.content_zone {
  width: 98%
}

.left_zone {
  font-size: 70%;
}