@import 'twitter-bootstrap/bootstrap';
@import 'jparallax/template.min.css';
@import 'jparallax/jquery.parallax';
@import 'jparallax/base';
@import 'jparallax/docs.classes';
@import 'lightbox/jquery.lightbox-0.5';
@import 'gmaps4rails';
@import 'tinymce_assets';

body {
  background: url('/assets/for_zone/lower3.png');
  margin-bottom: 40px;
  padding: 0;
}

div.container {
  background-color: #fff;
}

.navbar {
  background: url('/assets/for_zone/lower2.png');
  color: #fff;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-image: linear-gradient(to bottom, #2f96b4, #fff);
}

.content_zone {
  width: 98%;
  font-size: 85%;
}

.left_zone {
  font-size: 78%;
}